
<html>
  <head>
    
  </head>
  <body>
    <div style="display: flex; width: 100%; height: 100%; overflow: hidden; justify-content: center; align-items: center;">
      <span> Congratulations baby! </span>
      <span>I cannot wait to see you first thing on your birthay!</span> 
      <span>I hope that your 35th year is the best year you've had yet!</span>
      <span>Send me a screenshot to let me know you finished this!</span>
      <br/>
      <span>I have one more gift for you</span>
      <br/>
      <span>40.756834,-73.966978</span>
      <span>1030 6 Oct</span>
    </div>
  </body>
</html>

